BasedOnStyle:  LLVM  
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements 
PointerAlignment: Left
AlwaysBreakAfterReturnType: None  
SortIncludes: false  
InsertBraces: false
